@model UserInfo
@{
    ViewData["Title"] = "getUserInfo";
    ViewData["HideNavigations"] = true;
}
<form asp-controller="Account" asp-action="SignUpProcess" method="post" class="d-flex flex-column justify-content-center">
    <div asp-validation-summary="All" class="col-sm-11 col-lg-7 col-md-8 mt-4 d-flex justify-content-center "></div>
    <div class="row d-flex justify-content-center ">
        <div class="heading-signup col-sm-11 col-lg-7 col-md-9 mt-4 d-flex justify-content-center ">
            <h2 class="text-primary">Sign Up</h2>
        </div>
        
        <div class="col-sm-11 col-lg-7 col-md-9 d-flex justify-content-between  p-4" style="flex-direction:row; border:solid 2px;">
            
            <fieldset>
                <legend class="mt-4"><h5>User Info</h5></legend>
                <div class="row p-1">
                    <label asp-for="Fname">First Name</label>
                    <input asp-for="Fname" type="text" id="Fname" name="Fname"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="Fname" class="text-danger"></span>
                <div class="row mt-4 p-1">
                    <label asp-for="Lname">Last Name</label>
                    <input asp-for="Lname" type="text" id="Lname" name="Lname"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="Lname" class="text-danger"></span>
                <div class="row mt-4 p-1">
                    <label asp-for="Phone">Phone Number</label>
                    <input asp-for="Phone" type="tel" id="Phone" name="Phone"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="Phone" class="text-danger"></span>
                <div class="row mt-4 p-1">
                    <label asp-for="birthday">Birthday</label>
                    <input asp-for="birthday" type="date" id="birthday" name="birthday" autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="birthday" class="text-danger"></span>
            </fieldset>
            
           
            <fieldset>
                <legend class="mt-4"><h5>User Login Credentials</h5></legend>
                <div class="row mt-4 p-1">
                    <label asp-for="UserCredentials.UserName">Username</label>
                    <input asp-for="UserCredentials.UserName" type="text" id="uName" name="UserCredentials.UserName"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="UserCredentials.UserName" class="text-danger"></span>
                <div class="row mt-4 p-1">
                    <label asp-for="UserCredentials.Email">Email </label>
                    <input asp-for="UserCredentials.Email" type="email" id="Email" name="UserCredentials.Email"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="UserCredentials.Email " class="text-danger"></span>
                <div class="row mt-4 p-1">
                    <label asp-for="UserCredentials.PasswordHash">Password</label>
                    <input asp-for="UserCredentials.PasswordHash" type="password" id="passW" name="UserCredentials.PasswordHash"  autocomplete="off" class="form-control" />
                </div>
                <span asp-validation-for="UserCredentials.PasswordHash" class="text-danger"></span>
                <h5 class="m-3 text-dark">@ViewBag.message</h5>
                <div class="d-flex flex-lg-column flex-sm-column flex-md-column justify-content-center">
                    <button type="submit" class="btn btn-primary mb-2 ">Sign up</button>
                </div>
            </fieldset>
           
        </div>
    </div>
</form>