html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.headmain {
    left: 0;
    width: 100%;
    transition: left 0.3s;
}
/*Sidebar*/
.navi{
    background: none;
    color: black;
}
.navi:hover {
    background: cornflowerblue;
    color: white;
}
.sidebar {
    position: fixed;
    top: 60px;
    left: -200px;
    width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    transition: left 0.3s;
    border-color: gray;
}
#sidebarToggleBtn{
    position: relative;
    top: 5px;
    right:-10px;
    border: none;
    background: none;
}
.sidebar.active {
    left: 0;
}

.sidebar-header {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}

.sidebar-body {
    padding: 10px;
}
/*Home*/
.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.custom-card {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.post-container{
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    width: 350px;
}
.content{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*signup*/
.heading-signup {
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    border-top: solid 2px;
    border-right: solid 2px;
    border-left: solid 2px;
    background: PINK;
}