<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beau</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beau.styles.css" asp-append-version="true" />
</head>
<body>  
    
    @if (!(ViewData["HideNavigations"] as bool? ?? false))
    {
    <header>
            <div class="headmain">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
                    <button type="button" id="sidebarToggleBtn" style="display: flex; justify-content: center;" onclick="toggleSidebar()">
                        <img src="https://cdn-icons-png.flaticon.com/512/2099/2099192.png" style="height: 20px; width: 20px;" />
                    </button>
                    <div class="container-fluid ">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left: 4vw">Beau</a>
                    </div>
                </nav>
            </div>
    </header>

        <div class="sidebar" id="sidebar">
            <script>
                function toggleSidebar() {
                    document.getElementById('sidebar').classList.toggle('active');
                }
            </script>

            <div class="sidebar-body">
                <ul class="nav flex-column">
                    <li class="nav-item mt-5"><a class="navi nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="navi nav-link" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a></li>
                </ul>
            </div>
        </div>
}
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
